// fonts
$ff-main: 'HelveticaNeue';
$ff-steps: Georgia;

// colors
$red: #de2b24;
$light-red: #f35e59;
$white: #fff;
$grey: #f0f2f4;
$light-grey: #f3f3f3;
$dark-grey: #5c5c5c;
$dark: #424242;
$blue: #1287bf;
$yellow: #f8cd53;

$btn-main-bg-color: $red;
$btn-main-text-color: $white;

$header-top-color: $grey;
$apprach-bg-color: $light-grey;
$work-bg-color: $red;
$text-main-color: $dark;
$approach-text-color: $dark-grey;
