doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Agency
    link(rel="stylesheet", href="css/main.min.css")
  body
    include ./sections/header.pug
    include ./sections/hero.pug
    include ./sections/about.pug
    include ./sections/approach.pug
    include ./sections/work.pug
    include ./sections/feedback.pug
    include ./sections/footer.pug
