section.about
  .container
    .section-heading
      h2 About Us
      h3 We added our major Services
      
    ul.about__list
      li.about__item(data-aos="fade-zoom-in" data-aos-duration="1500" data-aos-easing="ease-in-out")
        .about__icon.about__icon--like
        h4.about__header 
          a(href="#0") Facebook Marketing
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
      li.about__item(data-aos="fade-zoom-in" data-aos-duration="1500" data-aos-easing="ease-in-out")
        .about__icon.about__icon--book
        h4.about__header 
          a(href="#0") landing pages Creation
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
      li.about__item(data-aos="fade-zoom-in" data-aos-duration="1500" data-aos-easing="ease-in-out")
        .about__icon.about__icon--message
        h4.about__header 
          a(href="#0") Ads management
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
