section.about
  .container
    .section-heading
      h2 About Us
      h3 We added our major Services
      
    ul.about__list
      li.about__item
        .about__icon.about__icon--like
        h4.about__header Facebook Marketing
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
      li.about__item
        .about__icon.about__icon--book
        h4.about__header landing pages Creation
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
      li.about__item
        .about__icon.about__icon--message
        h4.about__header Ads management
        p.about__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
