section.approach
  .container
    .section-heading
      h2 Our Approch 
      h3 Check Our approches step by step (&nbsp;how we do it&nbsp;)
      
    ul.approach__list
      li.approach__item(data-aos="zoom-in-up" data-aos-delay="200")
        .approach__image
          img(src="img/step-1.jpg", alt="Step 1")
          .approach__step step
        .approach__text
          h4.approach__title Step 1 : Heading Here
          .approach__descr
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item(data-aos="zoom-in-up" data-aos-delay="200")
        .approach__image
          img(src="img/step-2.jpg", alt="Step 2")
          .approach__step step
        .approach__text
          h4.approach__title Step 2 : Heading Here
          .approach__descr
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item(data-aos="zoom-in-up" data-aos-delay="200")
        .approach__image
          img(src="img/step-3.jpg", alt="Step 3")
          .approach__step step
        .approach__text
          h4.approach__title Step 3 : Heading Here
          .approach__descr
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach__item(data-aos="zoom-in-up" data-aos-delay="200")
        .approach__image
          img(src="img/step-4.jpg", alt="Step 4")
          .approach__step step
        .approach__text
          h4.approach__title Step 4 : Heading Here
          .approach__descr
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
