section.hero
  .hero__slideshow
    .hero__slide.hero__slide--1.fade
      .hero__text
        h1.hero__title 
          strong We Providing 
          span Social Media marketing for businesses
      
      a.button.button--hero(href="#0") Free Consultation
      
    .hero__slide.hero__slide--2.fade
      .hero__text
        h1.hero__title 
          strong We Providing 
          span analytics tools for businesses
      
      a.button.button--hero(href="#0") Free Consultation
      
    .hero__slide.hero__slide--3.fade
      .hero__text
        h1.hero__title 
          strong We Providing 
          span marketing tools for businesses
      
      a.button.button--hero(href="#0") Free Consultation

      
    a.prev &#10094;
    a.next &#10095;
