section.work
  .container
    .section-heading.section-heading--work
      h2 Our Work 
      h3 We added our featured works below
      
    ul.work__list
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-1.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Landing page
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-2.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Facebook marketing
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-3.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Facebook marketing
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-4.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Landing page
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-5.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Landing page
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-6.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Facebook marketing
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-7.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Facebook marketing
      
      li.work__item
        a(href="#0")
          img.work__pic(src="img/work-8.jpg", alt="Work")
          .work__overlay
            .work__text
              .work__name Project Name 
              .work__descr Landing page

          
