section.work
  .container
    .section-heading.section-heading--work
      h2 Our Work 
      h3 We added our featured works below
      
    ul.work__list
      
      li.work__item.work__item--name
        .work__name Project Name 
        .work__descr Facebook marketing
          
      li.work__item
        img.work__pic(src="img/work-1.jpg", alt="Work")
      
      li.work__item.work__item--name
        .work__name Project Name 
        .work__descr Landing page
          
      li.work__item
        img.work__pic(src="img/work-2.jpg", alt="Work")
      
      li.work__item
        img.work__pic(src="img/work-3.jpg", alt="Work")
      
      li.work__item.work__item--name
        .work__name Project Name 
        .work__descr Landing page
      
      li.work__item
        img.work__pic(src="img/work-4.jpg", alt="Work")
      
      li.work__item.work__item--name
        .work__name Project Name 
        .work__descr Facebook marketing
